.contact {
  display: flex;
  column-gap: 3.12vw;
  border: var(--border);
  max-height: 980px;

  &-aside-list {
    display: flex;
    //max-height: 980px;


    .contact-aside-item {
      display: flex;
      align-items: center;
      justify-content: start;
      border-right: var(--border);
      border-left: var(--border);
      text-transform: uppercase;

      font-family: Anton, sans-serif;
      font-size: clamp(16px,2.6vw,50px);
      letter-spacing: 1px;
      color: #202020;
      list-style: none;
      padding: 2.6vw 1.14vw;

      /* вертикальное написание текста */
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);

      &:first-child {
        border: none;
      }
      &:last-child {
        border-right: none;
      }
    }

  }

  &-body{
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding-block: 5.2vw;
    padding-right: 10px;
    column-gap: 3.12vw;

    &-image{
      max-width: 960px;
      max-height: 781px;
      border-radius: 10px;
      width: 60%;
      min-width: 202px;
      min-height: 161px;
    }

    &-info{
      font-family: SpaceMono,sans-serif;
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 24px;
      padding-top:45px;
      margin-bottom: 45px;
      min-width: 170px;

      font-size: clamp(12px,0.93vw,18px);

      .contact-title{
        font-family: Anton,sans-serif;
        font-size: clamp(15px,1.3vw,25px);
        line-height: 1.2;
        letter-spacing: 0.5px;
      }

      &__header{
        display: flex;
        flex-direction: column;
        row-gap:10px;
        .contact-link:hover{
          text-decoration: underline;
        }
      }
      &-button{
        //margin-inline: auto;

      }
    }

    @media (max-width: 720px) {
      flex-wrap: wrap;

    }
  }
}

.catalog{




  .product-slider{
    position: relative;
  }
  &-list{
    position: relative;
    border : var(--border);
  }
  &-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }

  .back { left: 0; }
  .next { right: 0; }


}

.services{
  display: flex;
  background-color:  var(--alternative-bg-color);
  min-width: 100vw;
  border-bottom: var(--border);

  &-aside{
    width: 40%;
    padding: 2.6vw;
    border-right: var(--border);

    .services-title{
      font-size: clamp(20px,3.64vw,70px);
      line-height: 1.14;
      letter-spacing: -1.4px;
      color: #202020;
      margin-bottom: 11.64vw;

      span{
        background: url("/public/icons/highlight.png")  no-repeat;
        background-size: 100%;
        
        @media (max-width: 356px) {
          background: none;
        }
      }
    }
    .services-image{
      width: clamp(90px,16.4vw,315px);
      max-height: 237px;

    }
  }
  &-skills-list{
    width: 60%;
    .skills-item{
      display: flex;
      height: calc(100% /4);
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2.39vw 3.33vw 2.39vw  3.03vw;

      &-title {
        font-size: clamp(14px,1.82vw,35px);
        letter-spacing: 0.7px;
        margin-bottom: 6px;
      }
      &-description{
        max-width: 320px;
        font-family: SpaceMono,sans-serif;
        font-size: clamp(8px,0.93vw,18px);
        line-height: 1.33;
      }

      &:not(:last-child){
        border-bottom: var(--border);
      }
    }
  }
}