.enjoy{
  background: url("public/images/rev-png-4.png.png") right/contain no-repeat ;
  display: flex;
  column-gap: 7.6vw;
  justify-content: center;
  align-items: center;

  &-image{
    max-width: 998px;
    width: 50vw;
    min-width: 200px;
    min-height: 250px;


  }
  &-body{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;

    .enjoy-title{
      position: relative;
      font-size: clamp(30px,6.25vw,120px);
      line-height: 1.08;
      text-align: left;

      &::after{
        content: "";
        position: absolute;
        width: clamp(55px,7vw,136px);
        min-width: 50px;
        aspect-ratio: 1;
        background: url(/public/icons/natural_product.png)center/clamp(55px,7vw,136px) no-repeat;
        top: -25%;
        right: -15%;
      }
      &::before{
        content: attr(data-title);
        position: absolute;
        bottom: -10%;
        right: -15%;
        font-size: clamp(14px , 2.6vw,50px);
        transform: rotate(-10deg);
        font-family: Mansalva, sans-serif;
        text-transform: lowercase;
      }
    }

  }
  @media (max-width: 670px) {
    padding-top: 70px;

    .enjoy-title{
      &::after{
        top: -43%;
        right: -16%;
      }
    }
  }
  @media (max-width: 510px) {
    padding-top: 100px;
  }
}

.sweetness{
  max-height:583px;
  display: flex;
  background-color: var(--alternative-bg-color);
  border: var(--border);
  column-gap:2.6vw;

  &-info{
    padding: clamp(10px,4.47vw,86px);
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;

    .sweetness-title{
      font-size: clamp(12px,2.6vw,50px);
      line-height: 1.2;
      letter-spacing: 1px;
      margin-bottom: 1.1vw;
    }
    .sweetness-description{
      font-family: SpaceMono,sans-serif;
      font-size: clamp(8px,0.9vw,18px);
      line-height: 1.33;
      margin-bottom: 5.94vw;
    }
  }
}



.alert{
  max-height:753px;
  height:45vw;
  min-height:300px ;
  background: url("/public/images/bg-alert.png")center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-title{
    font-size: clamp(30px,5.2vw,100px);
    color: var(--color-light);

  }
}


.quotes{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  .quotes-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3.12vw;
    padding: 10px;

    .quotes-text{
      font-size: clamp(12px,1.82vw,35px );
      letter-spacing: 0.7px;
      text-align: center;
    }
    .quotes-author{
      font-family: SpaceMono,sans-serif;
      font-size: clamp(10px,0.93vw, 18px );
      line-height: 1.33;
    }
    .quotes-list {
      display: flex;
      justify-content: center;

      .quotes-item {
        display: flex;

        .quotes-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 7px;
          background-color: transparent;
          border: none;
        }

        .quotes-button::after {
          content: '';
          width: 0.52vw;
          min-width: 5px;
          aspect-ratio: 1;
          border: 0.5px solid #202020;
          transition-duration: var(--transition-duration);
        }

        .quotes-button.is-current::after {
          background-color: var(--color-text);
        }

        .quotes-button:not(.is-current):hover::after {
          border-color: grey;
        }
      }
    }
  }
  .quotes-image{
    max-width:959px;
    max-height:878px;
    width:45vw;
    min-height: 250px;
  }
}
