
.header{
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: var(--color-light);
  width: 100vw;
  min-width: 100vw;
  border: var(--border);
  font-family: SpaceMono,sans-serif;

  .header-nav{
    display: flex;
    padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .nav-list{
      display: flex;
      column-gap: 47px;
      @media (max-width: 710px) {column-gap: 23px;}
    }

    .nav-logo{
      @media (max-width: 510px) {
        order: -1;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
      }

    }

    .list-item-link{
      font-size: clamp(10px , 0.88vw , 16px);
      height: 70px;
      display: flex;
      align-items: center;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%); /* смещаем центр */
        width: clamp(40px , 3.3vw , 65px);
        height: 6px;
        background: url("/public/icons/line.png")center no-repeat;
      }
      &:hover::after{
        transition-duration: 0.3s;
        top: 70%;
      }
      @media (max-width: 510px) {
        height: 50px;
      }
    }

    .list-additional{
      display: flex;
      align-items: center;
      column-gap: 20px;

    }

    @media (max-width: 710px) {
      padding-inline: 20px;
    }
    @media (max-width: 470px) {
      padding-inline: 15px;

    }
  }
}




