@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.woff2') format('woff2');
  font-width: 500 ;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mansalva';
  src: url('../fonts/Mansalva-Regular.woff2') format('woff2');
  font-width: 400 ;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
  font-width: 300 ;
  font-style: normal;
  font-display: swap;
}