:root {
  --color-light: #ffffff;
  --alternative-bg-color: #fbefd7;
  --bg-color-gray: #f6f6f6;
  --color-text: #202020;
  
  --border : 1px solid var(--color-text);
  --border-radius : 10px;

  --button-height : 59px;
}
