@import "fonts";
@import "variables";
@import "utils";
@import "normalize";
@import "mixins";

button{
  padding: 0;
  margin: 0;
}

body{
  color: var(--color-text);
  line-height: 1.4;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

a,button,textarea,
input,svg * {
  transition-duration:0.3s;
}

a{
  text-decoration: none;
  color: inherit;
}
.more-info{
  position: relative;
  font-family: Anton,sans-serif;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 16px;
  &::after{
    content:"";
    position: absolute;
    right:-50%;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 27px;
    background: url("/public/icons/button-arrow.png") center no-repeat;
  }
  &:hover{
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  }
}