@import "fonts";
@import "variables";
@import "utils";
@import "normalize";
@import "mixins";

button{
  padding: 0;
  margin: 0;
}

body{
  color: var(--color-text);
  line-height: 1.4;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

a,button,textarea,
input,svg * {
  transition-duration:0.3s;
}

a{
  text-decoration: none;
  color: inherit;
}
address{
  font-style: normal;
}


.more-info{
  position: relative;
  font-family: Anton,sans-serif;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 16px;
  &::after{
    content:"";
    position: absolute;
    right:-50%;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 27px;
    background: url("/public/icons/button-arrow.png") center no-repeat;
  }
  &:hover{
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  }
}

.button{
  font-family: Anton,sans-serif;
  font-size: clamp(10px,0.88vw,17px);
  line-height: 1;
  letter-spacing: 1.36px;
  text-align: center;
  color: var(--color-light);
  padding: 21px 35px;
  border: none;
  text-transform: uppercase;
  background:var(--color-text) url("/public/icons/button-shape.png") center no-repeat;

  &:hover{
    background-color: var(--color-grey);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
  }
}

.product-list{
  display: flex;
  .product-item{
    display: flex;
    padding: 2.23vw;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-height:583px ;
    height: 100%;
    max-width: 480px;
    border-right: var(--border);
    border-top: none;
    border-bottom: none;

    &:first-child{
      border-left: var(--border);
    }

    &-img{
      margin-inline:auto ;
    }
    &-title{
      font-size: clamp(12px,1.3vw,25px);
      line-height: 1.2;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
    }
    &-cost{
      font-family: SpaceMono,sans-serif;
      font-size: clamp(10px,0.9vw,18px);
      line-height: 1.33;
    }


  }
}